<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.simba1949.mapper.UserMapper">
    <sql id="sqlAllField">
        `id`, `username`, `nickname`, `password`, `birthday`, `sex`,  `mobile`, `email`,
        `is_delete` , `creator`, `create_time`, `updater`, `update_time`
    </sql>

    <select id="selectByUsername" resultType="top.simba1949.common.rbac.User">
        select
            <include refid="sqlAllField"></include>
        from db_security.sys_user
        where username = #{username} and is_delete = 0;
    </select>
</mapper>